In [325]:
#imports
import pandas as pd
import numpy as np
from sklearn.preprocessing import PolynomialFeatures

# Data cleaning

In [3]:
df = pd.read_csv('./ca_dropout_and_predictors_v3.csv')

In [4]:
df.isnull().sum()

county                                     0
abortion_medicaid_expenditures             0
abortion_rs_count_total                    1
abortion_rs_count_total_suppressed         0
daycare_slots_child_facility_capacity      0
daycare_slots_child_total_pop              0
daycare_slots_child_rate_slots             0
daycare_slots_child_num_facility           0
daycare_slots_child_pct_nonwhite           0
daycare_slots_infant_facility_capacity     4
daycare_slots_infant_total_pop             0
daycare_slots_infant_rate_slots            4
daycare_slots_infant_num_facility          4
daycare_slots_infant_pct_nonwhite          0
graduation_2019_cohort_size                0
dropout_rate_2019_cohort                   0
ecigs_sold_pct_tobacco_stores_2016         0
ecigs_sold_pct_tobacco_stores_2013         0
povr_whole_total_estimate                  0
adolescent_birth_abr                       0
asthma_number_of_deaths                   18
asthma_age_adjusted_mortality_rate        29
asthma_surpressed                          0
infant_mortality_rate                     17
std_chlamydia_rate                         0
std_chlamydia_supressed                    0
std_gonorrhea_rate                         0
std_gonorrhea_supressed                    0
std_population                             0
std_syphilis_rate                          0
std_syphilis_supressed                     0
sui_adjusted_rate_avg                      3
unemployment_rate                          0
num_of_indiv_A0                            0
num_of_indiv_A1                            0
num_of_indiv_A2                            0
num_of_indiv_A3                            0
num_of_indiv_A4                            0
num_of_indiv_A5                            0
num_of_indiv_A6                            0
num_of_indiv_A7                            0
num_of_indiv_A8                            0
num_of_indiv_A9                            0
num_of_indiv_A10                           0
num_of_indiv_A11                           0
num_of_indiv_A12                           0
num_of_indiv_A13                           0
num_of_indiv_A14                           0
num_of_indiv_A15                           0
num_of_indiv_A16                           0
num_of_indiv_A17                           0
num_of_indiv_A18                           0
num_of_indiv_A19                           0
num_of_indiv_A20                           0
medicaid_sum_0_20                          0
gini_coef                                  0
gini_suppressed                            0
dtype: int64

In [5]:
df['infant_mortality_rate']

0     4.0
1     NaN
2     4.5
3     NaN
4     NaN
5     3.4
6     NaN
7     3.1
8     6.8
9     NaN
10    7.3
11    3.8
12    NaN
13    6.1
14    4.7
15    NaN
16    NaN
17    4.3
18    5.2
19    2.2
20    NaN
21    9.4
22    4.0
23    NaN
24    NaN
25    5.3
26    3.7
27    NaN
28    3.1
29    3.9
30    NaN
31    4.5
32    5.2
33    NaN
34    6.2
35    3.9
36    2.8
37    5.4
38    4.8
39    3.1
40    4.6
41    3.3
42    4.3
43    4.4
44    NaN
45    NaN
46    5.7
47    3.0
48    5.1
49    5.8
50    4.6
51    NaN
52    6.2
53    8.7
54    3.9
55    4.7
56    7.5
Name: infant_mortality_rate, dtype: float64

In [8]:
pd.set_option('display.max_columns', 100)
df.head()

,county,abortion_medicaid_expenditures,abortion_rs_count_total,abortion_rs_count_total_suppressed,daycare_slots_child_facility_capacity,daycare_slots_child_total_pop,daycare_slots_child_rate_slots,daycare_slots_child_num_facility,daycare_slots_child_pct_nonwhite,daycare_slots_infant_facility_capacity,daycare_slots_infant_total_pop,daycare_slots_infant_rate_slots,daycare_slots_infant_num_facility,daycare_slots_infant_pct_nonwhite,graduation_2019_cohort_size,dropout_rate_2019_cohort,ecigs_sold_pct_tobacco_stores_2016,ecigs_sold_pct_tobacco_stores_2013,povr_whole_total_estimate,adolescent_birth_abr,asthma_number_of_deaths,asthma_age_adjusted_mortality_rate,asthma_surpressed,infant_mortality_rate,std_chlamydia_rate,std_chlamydia_supressed,std_gonorrhea_rate,std_gonorrhea_supressed,std_population,std_syphilis_rate,std_syphilis_supressed,sui_adjusted_rate_avg,unemployment_rate,num_of_indiv_A0,num_of_indiv_A1,num_of_indiv_A2,num_of_indiv_A3,num_of_indiv_A4,num_of_indiv_A5,num_of_indiv_A6,num_of_indiv_A7,num_of_indiv_A8,num_of_indiv_A9,num_of_indiv_A10,num_of_indiv_A11,num_of_indiv_A12,num_of_indiv_A13,num_of_indiv_A14,num_of_indiv_A15,num_of_indiv_A16,num_of_indiv_A17,num_of_indiv_A18,num_of_indiv_A19,num_of_indiv_A20,medicaid_sum_0_20,gini_coef,gini_suppressed
0,Alameda,400818.06,3932.0,0.0,30404.0,78508.0,387.272635,528.0,78.641667,2252.0,58612.0,38.422166,98.0,78.787620,17303.0,7.7,0.70,0.54,27.427112,9.7,58.0,11.2,0,4.0,497.7,0,172.9,0,1621005,17.1,0,8.6655,4.775000,8589.000000,8220.583333,8142.166667,8063.500000,8050.916667,8369.166667,8586.25,8797.083333,8515.083333,8100.166667,7785.250000,7708.000000,7464.083333,7323.000000,7334.500000,7285.416667,7184.333333,7256.500000,7135.416667,5914.083333,5709.666667,161534.166667,0.4630,0.0
1,Amador,268.49,24.0,0.0,320.0,1202.0,266.222962,14.0,28.785358,24.0,834.0,28.776978,2.0,28.057554,306.0,5.2,0.60,0.30,28.186327,0.0,0.0,0.0,0,NaN,176.9,0,48.2,0,37313,8.0,1,24.0750,6.641667,189.250000,159.416667,156.083333,159.666667,145.083333,147.416667,152.75,159.750000,160.083333,163.416667,158.750000,142.666667,147.333333,143.583333,135.250000,144.000000,125.500000,143.000000,135.500000,124.166667,94.666667,3087.333333,0.4612,0.0
2,Butte,179813.97,1477.0,0.0,2984.0,9973.0,299.207861,74.0,41.441893,443.0,7322.0,60.502595,25.0,42.024037,2541.0,10.4,0.78,0.47,44.035419,16.2,7.0,NaN,1,4.5,504.5,0,140.5,0,224180,6.2,0,16.9650,7.225000,1807.333333,1629.333333,1540.083333,1512.833333,1580.166667,1581.583333,1559.75,1594.666667,1598.000000,1531.916667,1410.083333,1413.000000,1377.583333,1375.083333,1356.083333,1298.583333,1338.750000,1350.500000,1332.500000,1382.166667,1363.083333,30933.083331,0.4868,0.0
3,Calaveras,3993.16,95.0,0.0,471.0,1673.0,281.530185,18.0,25.702331,52.0,1156.0,44.982699,3.0,25.346021,461.0,4.3,0.64,0.43,29.947310,0.0,NaN,NaN,1,NaN,138.1,0,40.1,0,44899,11.1,1,22.9300,6.441667,243.833333,227.666667,206.416667,208.666667,212.416667,225.750000,228.50,233.833333,224.916667,225.583333,219.250000,202.500000,209.666667,188.166667,199.000000,228.083333,219.750000,210.833333,195.166667,177.666667,159.250000,4446.916667,0.4612,0.0
4,Colusa,1066.25,31.0,0.0,306.0,1506.0,203.187251,11.0,79.150066,110.0,1097.0,100.273473,4.0,80.948040,346.0,5.8,0.43,0.33,42.082901,0.0,NaN,NaN,1,NaN,269.4,0,44.9,1,22271,9.0,1,26.5700,15.583333,240.833333,233.833333,241.750000,233.666667,237.916667,247.833333,275.25,289.166667,293.250000,268.250000,248.500000,243.833333,233.750000,223.916667,217.583333,216.583333,224.500000,229.750000,187.666667,165.250000,150.250000,4903.333333,0.4751,0.0

In [12]:
#going to impute 0 for the null values in infant mortality as the values were too small to report
df['infant_mortality_rate'].fillna(0, inplace=True)

In [13]:
df.isnull().sum()

county                                     0
abortion_medicaid_expenditures             0
abortion_rs_count_total                    1
abortion_rs_count_total_suppressed         0
daycare_slots_child_facility_capacity      0
daycare_slots_child_total_pop              0
daycare_slots_child_rate_slots             0
daycare_slots_child_num_facility           0
daycare_slots_child_pct_nonwhite           0
daycare_slots_infant_facility_capacity     4
daycare_slots_infant_total_pop             0
daycare_slots_infant_rate_slots            4
daycare_slots_infant_num_facility          4
daycare_slots_infant_pct_nonwhite          0
graduation_2019_cohort_size                0
dropout_rate_2019_cohort                   0
ecigs_sold_pct_tobacco_stores_2016         0
ecigs_sold_pct_tobacco_stores_2013         0
povr_whole_total_estimate                  0
adolescent_birth_abr                       0
asthma_number_of_deaths                   18
asthma_age_adjusted_mortality_rate        29
asthma_surpressed                          0
infant_mortality_rate                      0
std_chlamydia_rate                         0
std_chlamydia_supressed                    0
std_gonorrhea_rate                         0
std_gonorrhea_supressed                    0
std_population                             0
std_syphilis_rate                          0
std_syphilis_supressed                     0
sui_adjusted_rate_avg                      3
unemployment_rate                          0
num_of_indiv_A0                            0
num_of_indiv_A1                            0
num_of_indiv_A2                            0
num_of_indiv_A3                            0
num_of_indiv_A4                            0
num_of_indiv_A5                            0
num_of_indiv_A6                            0
num_of_indiv_A7                            0
num_of_indiv_A8                            0
num_of_indiv_A9                            0
num_of_indiv_A10                           0
num_of_indiv_A11                           0
num_of_indiv_A12                           0
num_of_indiv_A13                           0
num_of_indiv_A14                           0
num_of_indiv_A15                           0
num_of_indiv_A16                           0
num_of_indiv_A17                           0
num_of_indiv_A18                           0
num_of_indiv_A19                           0
num_of_indiv_A20                           0
medicaid_sum_0_20                          0
gini_coef                                  0
gini_suppressed                            0
dtype: int64

In [ ]:
#going to do the same for sui rate

In [14]:
df['sui_adjusted_rate_avg'].fillna(0, inplace=True)

In [127]:
df.set_index('county', inplace=True)

In [69]:
df1 = df.iloc[:, :32]

In [75]:
df2 = df.iloc[:, -3:]

In [78]:
df = pd.merge(df1, df2, left_on = 'county', right_on = 'county')

In [82]:
df.to_csv('./ca_dropout_and_predictors_v3.csv')

# Scale and create poly features and check the corr

In [302]:
#read in data
df = pd.read_csv('./ca_dropout_and_predictors_v5.csv')

In [303]:
#drop the unnamed column and get set index to county
df = df.drop(columns = 'Unnamed: 0').set_index('county')

In [304]:
X = df.drop(columns = ['dropout_rate_2019_cohort', 'abortion_rs_count_total', 'daycare_slots_infant_facility_capacity', 'daycare_slots_infant_rate_slots', 'daycare_slots_infant_num_facility', 'asthma_number_of_deaths', 'asthma_age_adjusted_mortality_rate', 'dropout_sqrt', 'dropout_quar_rt', 'dropout_3rd_rt', 'dropout_not_zero', 'dropout_log'])
y = df[['dropout_log']]

In [305]:
poly = PolynomialFeatures(include_bias=False)

In [306]:
X_poly = poly.fit_transform(X)

In [307]:
poly_df = pd.DataFrame(X_poly, columns = poly.get_feature_names_out())

In [308]:
# get column name back out and concat on index with poly
df_county = pd.read_csv('./ca_dropout_and_predictors_v5.csv')[['county']]
corr_df = pd.concat([poly_df, df_county], axis = 1)

In [309]:
#redifne X and y and put the county back as the index for X
X = corr_df.set_index('county')
y = df[['dropout_log']]

In [310]:
#make a corr df that i can run correlation on with the dropout log column
corr_df = pd.merge(corr_df, y, left_on = 'county', right_on = 'county')
corr_df = corr_df.set_index('county')

In [315]:
pd.set_option('display.max_columns', 100)
corr = corr_df.corr(numeric_only = True)[['dropout_log']].sort_values(by = 'dropout_log', ascending = False)

In [318]:
corr['abs_value_dropout_log'] = np.abs(corr['dropout_log'])

In [322]:
# gives me the 10 best correlated features to add to the model
corr.sort_values(by = 'abs_value_dropout_log', ascending = False).head(11)

,dropout_log,abs_value_dropout_log
dropout_log,1.000000,1.000000
ecigs_sold_pct_tobacco_stores_2016 gini_coef,0.562194,0.562194
ecigs_sold_pct_tobacco_stores_2016,0.542635,0.542635
ecigs_sold_pct_tobacco_stores_2016 povr_whole_total_estimate,0.411465,0.411465
ecigs_sold_pct_tobacco_stores_2016 std_chlamydia_rate,0.352706,0.352706
daycare_slots_child_rate_slots ecigs_sold_pct_tobacco_stores_2016,0.339329,0.339329
daycare_slots_infant_pct_nonwhite ecigs_sold_pct_tobacco_stores_2016,0.338056,0.338056
daycare_slots_child_pct_nonwhite ecigs_sold_pct_tobacco_stores_2016,0.337484,0.337484
std_chlamydia_rate,0.331582,0.331582
std_chlamydia_rate sui_adjusted_rate_avg,0.331394,0.331394
std_chlamydia_rate gini_coef,0.324102,0.324102

In [324]:
corr.to_csv('./corr_poly.csv')
corr_df.to_csv('./df_poly.csv')