In [2]:
#imports
import pandas as pd

# Adolescent Births

In [3]:
#read in Adolescent Births dataset
adolescent_birth_1 = pd.read_csv('../../../../../Downloads/chhs-165e1016-991f-487c-bdd0-84dd1c0a6fe8/data/adolescent_births_2014_2016.csv')

In [4]:
adolescent_birth_1

,year,county,strata,strata_name,population,births,abr,lower,upper
0,2014-2016,Alameda,Age 15-19,All,154934,1508,9.7,9.2,10.2
1,2014-2016,Alameda,Age 15-17,All,86666,367,4.2,3.8,4.6
2,2014-2016,Alameda,Age 18-19,All,68268,1141,16.7,15.7,17.7
3,2014-2016,Alameda,Age 15-19,Hispanic,46722,890,19,17.8,20.2
4,2014-2016,Alameda,Age 15-19,AsianPI,41518,82,2,1.6,2.5
...,...,...,...,...,...,...,...,...,...
517,2014-2016,Yuba,Age 15-19,Hispanic,3072,S,S,S,S
518,2014-2016,Yuba,Age 15-19,AsianPI,548,S,S,S,S
519,2014-2016,Yuba,Age 15-19,MultRace,493,S,S,S,S
520,2014-2016,Yuba,Age 15-19,Black,218,S,S,S,S
521,2014-2016,Yuba,Age 15-19,AIAN,113,S,S,S,S

In [5]:
adolescent_birth_2 = pd.read_csv('../../../../../Downloads/chhs-165e1016-991f-487c-bdd0-84dd1c0a6fe8/data/adolescent_births_2.csv')

In [6]:
adolescent_birth_2

,year,county,strata,strata_name,population,births,abr,lower,upper
0,2014-2016,Alameda,Age 15-19,All,154934,1508,9.7,9.2,10.2
1,2014-2016,Alameda,Age 15-17,All,86666,367,4.2,3.8,4.6
2,2014-2016,Alameda,Age 18-19,All,68268,1141,16.7,15.7,17.7
3,2014-2016,Alameda,Age 15-19,Hispanic,46722,890,19,17.8,20.2
4,2014-2016,Alameda,Age 15-19,AsianPI,41518,82,2,1.6,2.5
...,...,...,...,...,...,...,...,...,...
517,2014-2016,Yuba,Age 15-19,Hispanic,3072,S,S,S,S
518,2014-2016,Yuba,Age 15-19,AsianPI,548,S,S,S,S
519,2014-2016,Yuba,Age 15-19,MultRace,493,S,S,S,S
520,2014-2016,Yuba,Age 15-19,Black,218,S,S,S,S
521,2014-2016,Yuba,Age 15-19,AIAN,113,S,S,S,S

In [7]:
adolescent_birth_3 = pd.read_csv('../../../../../Downloads/chhs-165e1016-991f-487c-bdd0-84dd1c0a6fe8/data/adolescent_births_3.csv')

In [8]:
adolescent_birth_3

,field_title,field_name,data_type,description
0,Year,Year,Text,Year when births occurred
1,County of residence,County,Text,Adolescents’ county of residents
2,Strata,Strata,Text,General demographic category under which adole...
3,Strata Name,Strata_name,Text,Individual strata within a demographic categor...
4,Adolescent population,Population,Numeric,Population of adolescent females aged 15-19. S...
5,Number of births,Births,Numeric,Total number of live births to adolescent fema...
6,Adolescent birth rate,ABR,Text,Calculated by dividing the total births to tot...
7,Lower 95% Confidence Interval (CI),Lower,Numeric,Lower limit of 95% confidence interval. The 9...
8,Upper 95% Confidence Interval (CI),Upper,Numeric,Upper limit of 95% confidence interval. The 9...

In [9]:
adolescent_birth_4 = pd.read_csv('../../../../../Downloads/chhs-165e1016-991f-487c-bdd0-84dd1c0a6fe8/data/data_dictionary_adolescent_births.csv')

In [10]:
#looks like df 1 and 2 are the same and 3 and 4 are the same
adolescent_birth_1.shape, adolescent_birth_2.shape

((522, 9), (522, 9))

In [11]:
adolescent_birth_3.shape, adolescent_birth_4.shape

((9, 4), (9, 4))

In [12]:
#checking the difference between strata_name 'all'
adolescent_birth_1.loc[adolescent_birth_1['county'] == 'Alameda']

,year,county,strata,strata_name,population,births,abr,lower,upper
0,2014-2016,Alameda,Age 15-19,All,154934,1508,9.7,9.2,10.2
1,2014-2016,Alameda,Age 15-17,All,86666,367,4.2,3.8,4.6
2,2014-2016,Alameda,Age 18-19,All,68268,1141,16.7,15.7,17.7
3,2014-2016,Alameda,Age 15-19,Hispanic,46722,890,19,17.8,20.2
4,2014-2016,Alameda,Age 15-19,AsianPI,41518,82,2,1.6,2.5
5,2014-2016,Alameda,Age 15-19,White,37507,114,3,2.4,3.6
6,2014-2016,Alameda,Age 15-19,Black,18921,284,15,13.3,16.7
7,2014-2016,Alameda,Age 15-19,MultRace,9877,67,6.8,5.3,8.6
8,2014-2016,Alameda,Age 15-19,AIAN,389,S,S,S,S

In [13]:
adolescent_birth_1.isnull().sum()

year           0
county         0
strata         0
strata_name    0
population     0
births         0
abr            0
lower          0
upper          0
dtype: int64

In [14]:
adolescent_birth_1.dtypes

year           object
county         object
strata         object
strata_name    object
population      int64
births         object
abr            object
lower          object
upper          object
dtype: object

In [15]:
adolescent_birth_1['year'].value_counts()

year
2014-2016    522
Name: count, dtype: int64

In [16]:
#dropping the year column as we will have it in the description and they are all under the same year

In [17]:
adolescent_birth_1.drop(columns = 'year', inplace = True)

In [18]:
adolescent_birth_1['county'].value_counts()

county
Alameda            9
Santa Cruz         9
Plumas             9
Riverside          9
Sacramento         9
San Benito         9
San Bernardino     9
San Diego          9
San Francisco      9
San Joaquin        9
San Luis Obispo    9
San Mateo          9
Santa Barbara      9
Santa Clara        9
Shasta             9
Alpine             9
Sierra             9
Siskiyou           9
Solano             9
Sonoma             9
Stanislaus         9
Sutter             9
Tehama             9
Trinity            9
Tulare             9
Tuolumne           9
Ventura            9
Yolo               9
Placer             9
Orange             9
Nevada             9
Napa               9
Amador             9
Butte              9
Calaveras          9
Colusa             9
Contra Costa       9
Del Norte          9
El Dorado          9
Fresno             9
Glenn              9
Humboldt           9
Imperial           9
Inyo               9
Kern               9
Kings              9
Lake               9
Lassen             9
Los Angeles        9
Madera             9
Marin              9
Mariposa           9
Mendocino          9
Merced             9
Modoc              9
Mono               9
Monterey           9
Yuba               9
Name: count, dtype: int64

In [19]:
adolescent_birth_1['county'].nunique()
#looks good

58

In [20]:
adolescent_birth_1['strata'].value_counts()
#makes sense if each of the 58 counties have 7 age 15-19 rows and then 1 age 15-17 and age 18-19

strata
Age 15-19    406
Age 15-17     58
Age 18-19     58
Name: count, dtype: int64

In [21]:
adolescent_birth_1['strata_name'].value_counts()
#58 * 3 for all

strata_name
All         174
Hispanic     58
AsianPI      58
White        58
Black        58
MultRace     58
AIAN         58
Name: count, dtype: int64

In [22]:
adolescent_birth_1['strata_name'].nunique()

7

In [23]:
adolescent_birth_1['population'].describe()
#looks good

count    5.220000e+02
mean     2.367746e+04
std      7.481184e+04
min      0.000000e+00
25%      3.590000e+02
50%      2.584000e+03
75%      1.721900e+04
max      1.075590e+06
Name: population, dtype: float64

In [24]:
adolescent_birth_1['births'].value_counts()
#changing all S to 0 for now as it equals too small of a sample

births
S       256
0        55
23        3
210       2
48        2
       ...
912       1
179       1
150       1
4166      1
234       1
Name: count, Length: 193, dtype: int64

In [25]:
adolescent_birth_1['births'] = adolescent_birth_1['births'].map(lambda x: int(0) if x == 'S' else int(x))

In [26]:
adolescent_birth_1['births'].value_counts()

births
0       311
23        3
210       2
48        2
343       2
       ...
912       1
179       1
150       1
4166      1
234       1
Name: count, Length: 192, dtype: int64

In [27]:
adolescent_birth_1['abr'].value_counts()
#changing all S to 0 for now as it equals too small of a sample

abr
S       256
0        55
12.3      3
44.8      3
18.9      3
       ...
6.2       1
23.3      1
23        1
12.5      1
28.8      1
Name: count, Length: 159, dtype: int64

In [28]:
adolescent_birth_1['abr'] = adolescent_birth_1['abr'].map(lambda x: float(0) if x == 'S' else float(x))

In [29]:
adolescent_birth_1['abr'].value_counts()

abr
0.0     311
12.3      3
44.8      3
3.1       3
3.0       3
       ...
60.2      1
35.7      1
8.6       1
24.3      1
28.8      1
Name: count, Length: 158, dtype: int64

In [30]:
adolescent_birth_1['lower'].value_counts()

lower
S       256
0        55
2.4       4
18        3
19.3      3
       ...
6.3       1
54.5      1
16.2      1
40.9      1
25.1      1
Name: count, Length: 168, dtype: int64

In [31]:
adolescent_birth_1['lower'] = adolescent_birth_1['lower'].map(lambda x: float(0) if x == 'S' else float(x))

In [32]:
adolescent_birth_1['lower'].value_counts()

lower
0.0     311
2.4       4
18.0      3
19.3      3
3.3       3
       ...
6.3       1
54.5      1
16.2      1
40.9      1
25.1      1
Name: count, Length: 167, dtype: int64

In [33]:
adolescent_birth_1['upper'].value_counts()

upper
S       256
0        55
20.2      5
26.4      3
3.6       3
       ...
65.9      1
21.6      1
48.7      1
18.8      1
13.6      1
Name: count, Length: 168, dtype: int64

In [34]:
adolescent_birth_1['upper'] = adolescent_birth_1['upper'].map(lambda x: float(0) if x == 'S' else float(x))

In [35]:
adolescent_birth_1['upper'].value_counts()

upper
0.0     311
20.2      5
24.8      3
11.1      3
26.4      3
       ...
65.9      1
21.6      1
48.7      1
18.8      1
13.6      1
Name: count, Length: 167, dtype: int64

In [82]:
# team decision to drop the county alpine
adolescent_birth_1.drop(adolescent_birth_1.loc[adolescent_birth_1['county'] == 'Alpine'].index, inplace=True)

In [83]:
adolescent_df = adolescent_birth_1
adolescent_dd = adolescent_birth_3

In [84]:
adolescent_df.to_csv('./dfs/adolescent_birth.csv')
adolescent_dd.to_csv('./data_dictionaries/adolescent_birth.csv')

# read in asthma df

In [38]:
asthma_1 = pd.read_csv('../../../../../Downloads/chhs-5ea28f96-7bb6-4c18-9c0d-020484fab181/data/asthma_deaths_by_county.csv')

In [39]:
asthma_2 = pd.read_csv('../../../../../Downloads/chhs-5ea28f96-7bb6-4c18-9c0d-020484fab181/data/asthma_deaths_by_county_1.csv')

In [40]:
asthma_3 = pd.read_csv('../../../../../Downloads/chhs-5ea28f96-7bb6-4c18-9c0d-020484fab181/data/asthma_deaths_by_county_data_di.csv')

In [41]:
asthma_1

,county,years,strata,age_group,number_of_deaths,age_adjusted_mortality_rate,comment
0,California,2014–2016,Total population,All ages,1181.0,9.6,NaN
1,Alameda,2014–2016,Total population,All ages,58.0,11.2,NaN
2,Alpine,2014–2016,Total population,All ages,0.0,0.0,NaN
3,Amador,2014–2016,Total population,All ages,0.0,0.0,NaN
4,Butte,2014–2016,Total population,All ages,7.0,NaN,Rate not available due to statistical instability
...,...,...,...,...,...,...,...
349,Tulare,2017–2019,Child vs. adult,18+ years,16.0,15.5,NaN
350,Tuolumne,2017–2019,Child vs. adult,18+ years,NaN,NaN,Count and rate suppressed in accordance with d...
351,Ventura,2017–2019,Child vs. adult,18+ years,17.0,7.7,NaN
352,Yolo,2017–2019,Child vs. adult,18+ years,NaN,NaN,Count and rate suppressed in accordance with d...
353,Yuba,2017–2019,Child vs. adult,18+ years,NaN,NaN,Count and rate suppressed in accordance with d...

In [42]:
asthma_2
#looks like asthma 1 and 2 dfs are the same

,county,years,strata,age_group,number_of_deaths,age_adjusted_mortality_rate,comment
0,California,2014–2016,Total population,All ages,1181.0,9.6,NaN
1,Alameda,2014–2016,Total population,All ages,58.0,11.2,NaN
2,Alpine,2014–2016,Total population,All ages,0.0,0.0,NaN
3,Amador,2014–2016,Total population,All ages,0.0,0.0,NaN
4,Butte,2014–2016,Total population,All ages,7.0,NaN,Rate not available due to statistical instability
...,...,...,...,...,...,...,...
349,Tulare,2017–2019,Child vs. adult,18+ years,16.0,15.5,NaN
350,Tuolumne,2017–2019,Child vs. adult,18+ years,NaN,NaN,Count and rate suppressed in accordance with d...
351,Ventura,2017–2019,Child vs. adult,18+ years,17.0,7.7,NaN
352,Yolo,2017–2019,Child vs. adult,18+ years,NaN,NaN,Count and rate suppressed in accordance with d...
353,Yuba,2017–2019,Child vs. adult,18+ years,NaN,NaN,Count and rate suppressed in accordance with d...

In [43]:
asthma_3

,field_title,field_name,data_type,description
0,County,COUNTY,Plain text,County of residence
1,Years,YEARS,Plain text,3-year period during which data were collected
2,Strata,STRATA,Plain text,General demographic category under which respo...
3,Age group,AGE GROUP,Plain text,"All ages, 0-17 years, 18+ years"
4,Number of deaths,NUMBER OF DEATHS,Numeric,Number of deaths due to asthma (source: Vital ...
5,Age-adjusted mortality rate,AGE-ADJUSTED MORTALITY RATE,Numeric,Calculated by dividing the number of asthma de...
6,Comment,COMMENT,Plain text,Information on data suppression. Counts less t...

In [44]:
asthma_1['county'].value_counts() #check years column

county
California         6
Santa Cruz         6
Plumas             6
Riverside          6
Sacramento         6
San Benito         6
San Bernardino     6
San Diego          6
San Francisco      6
San Joaquin        6
San Luis Obispo    6
San Mateo          6
Santa Barbara      6
Santa Clara        6
Shasta             6
Orange             6
Sierra             6
Siskiyou           6
Solano             6
Sonoma             6
Stanislaus         6
Sutter             6
Tehama             6
Trinity            6
Tulare             6
Tuolumne           6
Ventura            6
Yolo               6
Placer             6
Nevada             6
Alameda            6
Inyo               6
Alpine             6
Amador             6
Butte              6
Calaveras          6
Colusa             6
Contra Costa       6
Del Norte          6
El Dorado          6
Fresno             6
Glenn              6
Humboldt           6
Imperial           6
Kern               6
Napa               6
Kings              6
Lake               6
Lassen             6
Los Angeles        6
Madera             6
Marin              6
Mariposa           6
Mendocino          6
Merced             6
Modoc              6
Mono               6
Monterey           6
Yuba               6
Name: count, dtype: int64

In [45]:
asthma_1['years'].value_counts() # two year groups. need to check out why there are 3 countie values

years
2014–2016    177
2017–2019    177
Name: count, dtype: int64

In [46]:
asthma_1.loc[asthma_1['county'] == 'Orange']

,county,years,strata,age_group,number_of_deaths,age_adjusted_mortality_rate,comment
30,Orange,2014–2016,Total population,All ages,55.0,5.5,NaN
89,Orange,2014–2016,Child vs. adult,0–17 years,NaN,NaN,Count and rate suppressed in accordance with d...
148,Orange,2014–2016,Child vs. adult,18+ years,53.0,7.2,NaN
207,Orange,2017–2019,Total population,All ages,82.0,7.4,NaN
266,Orange,2017–2019,Child vs. adult,0–17 years,NaN,NaN,Count and rate suppressed in accordance with d...
325,Orange,2017–2019,Child vs. adult,18+ years,79.0,9.5,NaN

Going to drop years 2017-2019 and the sub stratas that arent total pop

In [47]:
asthma_1.drop(asthma_1.loc[asthma_1['years'] == '2017–2019'].index, inplace = True)

In [48]:
asthma_1.drop(asthma_1.loc[asthma_1['strata'] != 'Total population'].index, inplace = True)

In [74]:
asthma_1.drop(asthma_1.loc[asthma_1['county'] == 'Alpine'].index, inplace=True)

In [75]:
asthma_1.to_csv('./dfs/asthma_death.csv')
asthma_3.to_csv('./data_dictionaries/asthma_death.csv')

# Death Profiles

In [51]:
death_profile_1 = pd.read_csv('../../../../../Downloads/chhs-cac6d0b5-93d0-4f62-9f05-b3eebb63431f/data/death_profiles_by_leading_causes_of_death_3.csv')

In [52]:
death_profile_2 = pd.read_csv('../../../../../Downloads/chhs-cac6d0b5-93d0-4f62-9f05-b3eebb63431f/data/death_profiles_by_leading_causes_of_death_4.csv')

In [53]:
death_profile_3 = pd.read_csv('../../../../../Downloads/chhs-cac6d0b5-93d0-4f62-9f05-b3eebb63431f/data/death_profiles_by_leading_causes_of_death_5.csv')

In [54]:
death_profile_4 = pd.read_csv('../../../../../Downloads/chhs-cac6d0b5-93d0-4f62-9f05-b3eebb63431f/data/lcod_dictionary.csv')

In [55]:
death_profile_1

        year  zip_code causes_of_death count
0       2009     90001             ALZ   <11
1       2009     90001             CAN    46
2       2009     90001             CLD   <11
3       2009     90001             DIA    15
4       2009     90001             HOM   <11
...      ...       ...             ...   ...
226795  2018     99999             NEP    20
226796  2018     99999             OTH   266
226797  2018     99999             PNF    44
226798  2018     99999             STK    85
226799  2018     99999             SUI    65

[226800 rows x 4 columns]

In [56]:
death_profile_2

        year  zip_code causes_of_death count
0       1989     90001             ALZ     0
1       1989     90001             CAN    61
2       1989     90001             CLD    12
3       1989     90001             DIA   <11
4       1989     90001             HOM    37
...      ...       ...             ...   ...
226795  1998     99999             NEP    20
226796  1998     99999             OTH   626
226797  1998     99999             PNF   236
226798  1998     99999             STK   210
226799  1998     99999             SUI    83

[226800 rows x 4 columns]

In [57]:
death_profile_3

        year  zip_code causes_of_death count
0       1999     90001             ALZ   <11
1       1999     90001             CAN    53
2       1999     90001             CLD    16
3       1999     90001             DIA    16
4       1999     90001             HOM    11
...      ...       ...             ...   ...
226795  2008     99999             NEP    26
226796  2008     99999             OTH   692
226797  2008     99999             PNF    65
226798  2008     99999             STK   161
226799  2008     99999             SUI    79

[226800 rows x 4 columns]

In [58]:
death_profile_4

       column_name   format                                          definiton
0             Year   String                                     Year of death
1         ZIP Code   String  California ZIP Codes. ZIP Codes with less than...
2  Causes of Death   String  Cause-of-death between 1999 to present were co...
3            Count  Numeric  Number of deaths per cause of death. Counts th...

In [59]:
#looks like death_profile_1 is the df we want because of the dates

In [60]:
death_profile_1['year'].value_counts()

year
2009    22680
2010    22680
2011    22680
2012    22680
2013    22680
2014    22680
2015    22680
2016    22680
2017    22680
2018    22680
Name: count, dtype: int64

In [61]:
death_profile_1 = death_profile_1.loc[death_profile_1['year'] == 2015]

In [62]:
death_profile_1.to_csv('./dfs/death_profile.csv')
death_profile_4.to_csv('./data_dictionaries/death_profile.csv')

# infant mortality

In [63]:
infant_mortality_1 = pd.read_csv('../../../../../Downloads/chhs-a10630c1-536b-4f36-97ef-5ce831fc279d/data/infant_mortality_deaths_per_1_000_live_births_lghc_indicator_1.csv')

In [64]:
infant_mortality_2 = pd.read_csv('../../../../../Downloads/chhs-a10630c1-536b-4f36-97ef-5ce831fc279d/data/infant_mortality_deaths_per_1000_live_births_lghc_indicator_01.csv')

In [65]:
infant_mortality_1

,lghc_indicator_name,geography,year,strata,strata_name,rate,lower_95_ci,upper_95_ci
0,"Infant Mortality, Deaths per 1,000 Live Births",California,2009-2011,Total population,Total population,4.9,4.8,5.0
1,"Infant Mortality, Deaths per 1,000 Live Births",Alameda,2009-2011,Total population,Total population,4.5,4.0,5.1
2,"Infant Mortality, Deaths per 1,000 Live Births",Alpine,2009-2011,Total population,Total population,NaN,NaN,NaN
3,"Infant Mortality, Deaths per 1,000 Live Births",Amador,2009-2011,Total population,Total population,NaN,NaN,NaN
4,"Infant Mortality, Deaths per 1,000 Live Births",Butte,2009-2011,Total population,Total population,4.9,3.6,6.8
...,...,...,...,...,...,...,...,...
9073,"Infant Mortality, Deaths per 1,000 Live Births",Ventura,2014-2016,Sex,Female,3.1,2.4,4.2
9074,"Infant Mortality, Deaths per 1,000 Live Births",Yolo,2014-2016,Sex,Male,4.1,2.5,6.7
9075,"Infant Mortality, Deaths per 1,000 Live Births",Yolo,2014-2016,Sex,Female,5.4,3.5,8.4
9076,"Infant Mortality, Deaths per 1,000 Live Births",Yuba,2014-2016,Sex,Male,9.3,5.8,14.8
9077,"Infant Mortality, Deaths per 1,000 Live Births",Yuba,2014-2016,Sex,Female,5.7,3.1,10.5

In [66]:
infant_mortality_2 #looks the same as the first df

,lghc_indicator_name,geography,year,strata,strata_name,rate,lower_95_ci,upper_95_ci
0,"Infant Mortality, Deaths per 1,000 Live Births",California,2009-2011,Total population,Total population,4.9,4.8,5.0
1,"Infant Mortality, Deaths per 1,000 Live Births",Alameda,2009-2011,Total population,Total population,4.5,4.0,5.1
2,"Infant Mortality, Deaths per 1,000 Live Births",Alpine,2009-2011,Total population,Total population,NaN,NaN,NaN
3,"Infant Mortality, Deaths per 1,000 Live Births",Amador,2009-2011,Total population,Total population,NaN,NaN,NaN
4,"Infant Mortality, Deaths per 1,000 Live Births",Butte,2009-2011,Total population,Total population,4.9,3.6,6.8
...,...,...,...,...,...,...,...,...
9073,"Infant Mortality, Deaths per 1,000 Live Births",Ventura,2014-2016,Sex,Female,3.1,2.4,4.2
9074,"Infant Mortality, Deaths per 1,000 Live Births",Yolo,2014-2016,Sex,Male,4.1,2.5,6.7
9075,"Infant Mortality, Deaths per 1,000 Live Births",Yolo,2014-2016,Sex,Female,5.4,3.5,8.4
9076,"Infant Mortality, Deaths per 1,000 Live Births",Yuba,2014-2016,Sex,Male,9.3,5.8,14.8
9077,"Infant Mortality, Deaths per 1,000 Live Births",Yuba,2014-2016,Sex,Female,5.7,3.1,10.5

In [67]:
infant_mortality_1 = infant_mortality_1.loc[infant_mortality_1['year'] == '2014-2016']

In [94]:
infant_mortality_1 = infant_mortality_1.drop(infant_mortality_1.loc[infant_mortality_1['geography'] == 'Alpine'].index)