In [2]:
#imports
import pandas as pd
import numpy as np

# Adolescent Births

In [3]:
#read in Adolescent Births dataset
adolescent_birth_1 = pd.read_csv('../../../../../Downloads/chhs-165e1016-991f-487c-bdd0-84dd1c0a6fe8/data/adolescent_births_2014_2016.csv')

In [4]:
adolescent_birth_1

,year,county,strata,strata_name,population,births,abr,lower,upper
0,2014-2016,Alameda,Age 15-19,All,154934,1508,9.7,9.2,10.2
1,2014-2016,Alameda,Age 15-17,All,86666,367,4.2,3.8,4.6
2,2014-2016,Alameda,Age 18-19,All,68268,1141,16.7,15.7,17.7
3,2014-2016,Alameda,Age 15-19,Hispanic,46722,890,19,17.8,20.2
4,2014-2016,Alameda,Age 15-19,AsianPI,41518,82,2,1.6,2.5
...,...,...,...,...,...,...,...,...,...
517,2014-2016,Yuba,Age 15-19,Hispanic,3072,S,S,S,S
518,2014-2016,Yuba,Age 15-19,AsianPI,548,S,S,S,S
519,2014-2016,Yuba,Age 15-19,MultRace,493,S,S,S,S
520,2014-2016,Yuba,Age 15-19,Black,218,S,S,S,S
521,2014-2016,Yuba,Age 15-19,AIAN,113,S,S,S,S

In [5]:
adolescent_birth_2 = pd.read_csv('../../../../../Downloads/chhs-165e1016-991f-487c-bdd0-84dd1c0a6fe8/data/adolescent_births_2.csv')

In [6]:
adolescent_birth_2

,year,county,strata,strata_name,population,births,abr,lower,upper
0,2014-2016,Alameda,Age 15-19,All,154934,1508,9.7,9.2,10.2
1,2014-2016,Alameda,Age 15-17,All,86666,367,4.2,3.8,4.6
2,2014-2016,Alameda,Age 18-19,All,68268,1141,16.7,15.7,17.7
3,2014-2016,Alameda,Age 15-19,Hispanic,46722,890,19,17.8,20.2
4,2014-2016,Alameda,Age 15-19,AsianPI,41518,82,2,1.6,2.5
...,...,...,...,...,...,...,...,...,...
517,2014-2016,Yuba,Age 15-19,Hispanic,3072,S,S,S,S
518,2014-2016,Yuba,Age 15-19,AsianPI,548,S,S,S,S
519,2014-2016,Yuba,Age 15-19,MultRace,493,S,S,S,S
520,2014-2016,Yuba,Age 15-19,Black,218,S,S,S,S
521,2014-2016,Yuba,Age 15-19,AIAN,113,S,S,S,S

In [7]:
adolescent_birth_3 = pd.read_csv('../../../../../Downloads/chhs-165e1016-991f-487c-bdd0-84dd1c0a6fe8/data/adolescent_births_3.csv')

In [8]:
adolescent_birth_3

,field_title,field_name,data_type,description
0,Year,Year,Text,Year when births occurred
1,County of residence,County,Text,Adolescentsâ€™ county of residents
2,Strata,Strata,Text,General demographic category under which adole...
3,Strata Name,Strata_name,Text,Individual strata within a demographic categor...
4,Adolescent population,Population,Numeric,Population of adolescent females aged 15-19. S...
5,Number of births,Births,Numeric,Total number of live births to adolescent fema...
6,Adolescent birth rate,ABR,Text,Calculated by dividing the total births to tot...
7,Lower 95% Confidence Interval (CI),Lower,Numeric,Lower limit of 95% confidence interval.Â The 9...
8,Upper 95% Confidence Interval (CI),Upper,Numeric,Upper limit of 95% confidence interval.Â The 9...

In [9]:
adolescent_birth_4 = pd.read_csv('../../../../../Downloads/chhs-165e1016-991f-487c-bdd0-84dd1c0a6fe8/data/data_dictionary_adolescent_births.csv')

In [10]:
#looks like df 1 and 2 are the same and 3 and 4 are the same
adolescent_birth_1.shape, adolescent_birth_2.shape

((522, 9), (522, 9))

In [11]:
adolescent_birth_3.shape, adolescent_birth_4.shape

((9, 4), (9, 4))

In [12]:
#checking the difference between strata_name 'all'
adolescent_birth_1.loc[adolescent_birth_1['county'] == 'Alameda']

,year,county,strata,strata_name,population,births,abr,lower,upper
0,2014-2016,Alameda,Age 15-19,All,154934,1508,9.7,9.2,10.2
1,2014-2016,Alameda,Age 15-17,All,86666,367,4.2,3.8,4.6
2,2014-2016,Alameda,Age 18-19,All,68268,1141,16.7,15.7,17.7
3,2014-2016,Alameda,Age 15-19,Hispanic,46722,890,19,17.8,20.2
4,2014-2016,Alameda,Age 15-19,AsianPI,41518,82,2,1.6,2.5
5,2014-2016,Alameda,Age 15-19,White,37507,114,3,2.4,3.6
6,2014-2016,Alameda,Age 15-19,Black,18921,284,15,13.3,16.7
7,2014-2016,Alameda,Age 15-19,MultRace,9877,67,6.8,5.3,8.6
8,2014-2016,Alameda,Age 15-19,AIAN,389,S,S,S,S

In [13]:
adolescent_birth_1.isnull().sum()

year           0
county         0
strata         0
strata_name    0
population     0
births         0
abr            0
lower          0
upper          0
dtype: int64

In [14]:
adolescent_birth_1.dtypes

year           object
county         object
strata         object
strata_name    object
population      int64
births         object
abr            object
lower          object
upper          object
dtype: object

In [15]:
adolescent_birth_1['year'].value_counts()

year
2014-2016    522
Name: count, dtype: int64

In [16]:
#dropping the year column as we will have it in the description and they are all under the same year

In [17]:
adolescent_birth_1.drop(columns = 'year', inplace = True)

In [18]:
adolescent_birth_1['county'].value_counts()

county
Alameda            9
Santa Cruz         9
Plumas             9
Riverside          9
Sacramento         9
San Benito         9
San Bernardino     9
San Diego          9
San Francisco      9
San Joaquin        9
San Luis Obispo    9
San Mateo          9
Santa Barbara      9
Santa Clara        9
Shasta             9
Alpine             9
Sierra             9
Siskiyou           9
Solano             9
Sonoma             9
Stanislaus         9
Sutter             9
Tehama             9
Trinity            9
Tulare             9
Tuolumne           9
Ventura            9
Yolo               9
Placer             9
Orange             9
Nevada             9
Napa               9
Amador             9
Butte              9
Calaveras          9
Colusa             9
Contra Costa       9
Del Norte          9
El Dorado          9
Fresno             9
Glenn              9
Humboldt           9
Imperial           9
Inyo               9
Kern               9
Kings              9
Lake               9
Lassen             9
Los Angeles        9
Madera             9
Marin              9
Mariposa           9
Mendocino          9
Merced             9
Modoc              9
Mono               9
Monterey           9
Yuba               9
Name: count, dtype: int64

In [19]:
adolescent_birth_1['county'].nunique()
#looks good

58

In [20]:
adolescent_birth_1['strata'].value_counts()
#makes sense if each of the 58 counties have 7 age 15-19 rows and then 1 age 15-17 and age 18-19

strata
Age 15-19    406
Age 15-17     58
Age 18-19     58
Name: count, dtype: int64

In [21]:
adolescent_birth_1['strata_name'].value_counts()
#58 * 3 for all

strata_name
All         174
Hispanic     58
AsianPI      58
White        58
Black        58
MultRace     58
AIAN         58
Name: count, dtype: int64

In [22]:
adolescent_birth_1['strata_name'].nunique()

7

In [23]:
adolescent_birth_1['population'].describe()
#looks good

count    5.220000e+02
mean     2.367746e+04
std      7.481184e+04
min      0.000000e+00
25%      3.590000e+02
50%      2.584000e+03
75%      1.721900e+04
max      1.075590e+06
Name: population, dtype: float64

In [24]:
adolescent_birth_1['births'].value_counts()

births
S       256
0        55
23        3
210       2
48        2
       ...
912       1
179       1
150       1
4166      1
234       1
Name: count, Length: 193, dtype: int64

In [25]:
adolescent_birth_1['births'].value_counts()

births
S       256
0        55
23        3
210       2
48        2
       ...
912       1
179       1
150       1
4166      1
234       1
Name: count, Length: 193, dtype: int64

In [26]:
adolescent_birth_1['abr'].value_counts()
#changing all S to 0 for now as it equals too small of a sample

abr
S       256
0        55
12.3      3
44.8      3
18.9      3
       ...
6.2       1
23.3      1
23        1
12.5      1
28.8      1
Name: count, Length: 159, dtype: int64

In [27]:
adolescent_birth_1['abr'] = adolescent_birth_1['abr'].map(lambda x: float(0) if x == 'S' else float(x))

In [28]:
adolescent_birth_1['abr'].value_counts()

abr
0.0     311
12.3      3
44.8      3
3.1       3
3.0       3
       ...
60.2      1
35.7      1
8.6       1
24.3      1
28.8      1
Name: count, Length: 158, dtype: int64

In [29]:
adolescent_birth_1['lower'].value_counts()

lower
S       256
0        55
2.4       4
18        3
19.3      3
       ...
6.3       1
54.5      1
16.2      1
40.9      1
25.1      1
Name: count, Length: 168, dtype: int64

In [30]:
adolescent_birth_1['lower'] = adolescent_birth_1['lower'].map(lambda x: float(0) if x == 'S' else float(x))

In [31]:
adolescent_birth_1['lower'].value_counts()

lower
0.0     311
2.4       4
18.0      3
19.3      3
3.3       3
       ...
6.3       1
54.5      1
16.2      1
40.9      1
25.1      1
Name: count, Length: 167, dtype: int64

In [32]:
adolescent_birth_1['upper'].value_counts()

upper
S       256
0        55
20.2      5
26.4      3
3.6       3
       ...
65.9      1
21.6      1
48.7      1
18.8      1
13.6      1
Name: count, Length: 168, dtype: int64

In [33]:
adolescent_birth_1['upper'] = adolescent_birth_1['upper'].map(lambda x: float(0) if x == 'S' else float(x))

In [34]:
adolescent_birth_1['upper'].value_counts()

upper
0.0     311
20.2      5
24.8      3
11.1      3
26.4      3
       ...
65.9      1
21.6      1
48.7      1
18.8      1
13.6      1
Name: count, Length: 167, dtype: int64

In [35]:
# team decision to drop the county alpine
adolescent_birth_1.drop(adolescent_birth_1.loc[adolescent_birth_1['county'] == 'Alpine'].index, inplace=True)

In [36]:
adolescent_df = adolescent_birth_1
adolescent_dd = adolescent_birth_3

In [37]:
adolescent_df #need to get rid of every row except for strata_name "all" and strata "Age 15-19"

      county     strata strata_name  population births   abr  lower  upper
0    Alameda  Age 15-19         All      154934   1508   9.7    9.2   10.2
1    Alameda  Age 15-17         All       86666    367   4.2    3.8    4.6
2    Alameda  Age 18-19         All       68268   1141  16.7   15.7   17.7
3    Alameda  Age 15-19    Hispanic       46722    890  19.0   17.8   20.2
4    Alameda  Age 15-19     AsianPI       41518     82   2.0    1.6    2.5
..       ...        ...         ...         ...    ...   ...    ...    ...
517     Yuba  Age 15-19    Hispanic        3072      S   0.0    0.0    0.0
518     Yuba  Age 15-19     AsianPI         548      S   0.0    0.0    0.0
519     Yuba  Age 15-19    MultRace         493      S   0.0    0.0    0.0
520     Yuba  Age 15-19       Black         218      S   0.0    0.0    0.0
521     Yuba  Age 15-19        AIAN         113      S   0.0    0.0    0.0

[513 rows x 8 columns]

In [38]:
adolescent_df = adolescent_df.loc[(adolescent_df['strata'] == 'Age 15-19') & (adolescent_df['strata_name'] == 'All')]

In [39]:
adolescent_df.rename(columns = {'population': 'adolescent_birth_population',
                               'births': 'adolescent_birth_births',
                               'abr': 'adolescent_birth_abr',
                               'lower': 'adolescent_birth_lower',
                               'upper': 'adolescent_birth_upper'}, inplace = True)

/var/folders/ss/wsd08gpd0hs8m3d7tg_wd4d40000gn/T/ipykernel_35287/2463856122.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adolescent_df.rename(columns = {'population': 'adolescent_birth_population',

In [40]:
adolescent_df['adolescent_birth_births'].value_counts()
#have to null the S and create a new column to show if it is surpressed

adolescent_birth_births
S        16
159       2
362       1
5245      1
390       1
1857      1
366       1
611       1
1091      1
1874      1
440       1
1508      1
6176      1
528       1
1603      1
220       1
193       1
1984      1
1497      1
273       1
671       1
2671      1
126       1
167       1
420       1
1178      1
3592      1
208       1
784       1
3716      1
554       1
18423     1
5394      1
617       1
194       1
1043      1
1333      1
179       1
4166      1
272       1
234       1
Name: count, dtype: int64

In [41]:
adolescent_df['births_adolescent_birth'] = [np.nan if x == 'S' else int(x) for x in adolescent_df['adolescent_birth_births'].tolist()]

/var/folders/ss/wsd08gpd0hs8m3d7tg_wd4d40000gn/T/ipykernel_35287/3369133760.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adolescent_df['births_adolescent_birth'] = [np.nan if x == 'S' else int(x) for x in adolescent_df['adolescent_birth_births'].tolist()]

In [42]:
adolescent_df.drop(columns = ['strata', 'strata_name'], inplace = True)

/var/folders/ss/wsd08gpd0hs8m3d7tg_wd4d40000gn/T/ipykernel_35287/1621204239.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adolescent_df.drop(columns = ['strata', 'strata_name'], inplace = True)

In [43]:
adolescent_df

,county,adolescent_birth_population,adolescent_birth_births,adolescent_birth_abr,adolescent_birth_lower,adolescent_birth_upper,births_adolescent_birth
0,Alameda,154934,1508,9.7,9.2,10.2,1508.0
18,Amador,2919,S,0.0,0.0,0.0,NaN
27,Butte,25951,420,16.2,14.7,17.7,420.0
36,Calaveras,3995,S,0.0,0.0,0.0,NaN
45,Colusa,2451,S,0.0,0.0,0.0,NaN
54,Contra Costa,106449,1178,11.1,10.5,11.7,1178.0
63,Del Norte,2504,S,0.0,0.0,0.0,NaN
72,El Dorado,18809,159,8.5,7.2,9.8,159.0
81,Fresno,120564,3592,29.8,28.8,30.8,3592.0
90,Glenn,3193,S,0.0,0.0,0.0,NaN
99,Humboldt,14356,208,14.5,12.5,16.5,208.0
108,Imperial,20747,784,37.8,35.2,40.4,784.0
117,Inyo,1598,S,0.0,0.0,0.0,NaN
126,Kern,104299,3716,35.6,34.5,36.7,3716.0
135,Kings,17292,554,32.0,29.3,34.7,554.0
144,Lake,5447,167,30.7,26.0,35.4,167.0
153,Lassen,2371,S,0.0,0.0,0.0,NaN
162,Los Angeles,1075590,18423,17.1,16.9,17.3,18423.0
171,Madera,17290,617,35.7,32.9,38.5,617.0
180,Marin,21136,159,7.5,6.3,8.7,159.0
189,Mariposa,1482,S,0.0,0.0,0.0,NaN
198,Mendocino,7843,194,24.7,21.2,28.2,194.0
207,Merced,35518,1043,29.4,27.6,31.2,1043.0
216,Modoc,928,S,0.0,0.0,0.0,NaN
225,Mono,1116,S,0.0,0.0,0.0,NaN
234,Monterey,47469,1333,28.1,26.6,29.6,1333.0
243,Napa,14268,179,12.5,10.7,14.3,179.0
252,Nevada,8323,S,0.0,0.0,0.0,NaN
261,Orange,338730,4166,12.3,11.9,12.7,4166.0
270,Placer,35657,272,7.6,6.7,8.5,272.0
279,Plumas,1566,S,0.0,0.0,0.0,NaN
288,Riverside,273621,5394,19.7,19.2,20.2,5394.0
297,Sacramento,159485,2671,16.7,16.1,17.3,2671.0
306,San Benito,6668,126,18.9,15.6,22.2,126.0
315,San Bernardino,251903,6176,24.5,23.9,25.1,6176.0
324,San Diego,330756,5245,15.9,15.5,16.3,5245.0
333,San Francisco,51821,390,7.5,6.8,8.2,390.0
342,San Joaquin,85522,1857,21.7,20.7,22.7,1857.0
351,San Luis Obispo,30894,366,11.8,10.6,13.0,366.0
360,San Mateo,59276,611,10.3,9.5,11.1,611.0
369,Santa Barbara,57042,1091,19.1,18.0,20.2,1091.0
378,Santa Clara,177194,1874,10.6,10.1,11.1,1874.0
387,Santa Cruz,35743,440,12.3,11.2,13.4,440.0
396,Shasta,16714,362,21.7,19.5,23.9,362.0
405,Sierra,207,S,0.0,0.0,0.0,NaN
414,Siskiyou,3978,S,0.0,0.0,0.0,NaN
423,Solano,44831,671,15.0,13.9,16.1,671.0
432,Sonoma,48925,528,10.8,9.9,11.7,528.0
441,Stanislaus,63697,1603,25.2,24.0,26.4,1603.0
450,Sutter,10649,220,20.7,18.0,23.4,220.0
459,Tehama,6500,193,29.7,25.5,33.9,193.0
468,Trinity,1191,S,0.0,0.0,0.0,NaN
477,Tulare,55157,1984,36.0,34.4,37.6,1984.0
486,Tuolumne,4292,S,0.0,0.0,0.0,NaN
495,Ventura,89985,1497,16.6,15.8,17.4,1497.0
504,Yolo,30778,273,8.9,7.8,10.0,273.0
513,Yuba,8125,234,28.8,25.1,32.5,234.0

In [44]:
adolescent_dd = adolescent_dd.loc[4:]

In [45]:
adolescent_df.to_csv('./dfs/adolescent_birth.csv', index = False)
adolescent_dd.to_csv('./data_dictionaries/adolescent_birth.csv', index = False)

# read in asthma df

In [46]:
asthma_1 = pd.read_csv('../../../../../Downloads/chhs-5ea28f96-7bb6-4c18-9c0d-020484fab181/data/asthma_deaths_by_county.csv')

In [47]:
asthma_2 = pd.read_csv('../../../../../Downloads/chhs-5ea28f96-7bb6-4c18-9c0d-020484fab181/data/asthma_deaths_by_county_1.csv')

In [48]:
asthma_3 = pd.read_csv('../../../../../Downloads/chhs-5ea28f96-7bb6-4c18-9c0d-020484fab181/data/asthma_deaths_by_county_data_di.csv')

In [49]:
asthma_1

,county,years,strata,age_group,number_of_deaths,age_adjusted_mortality_rate,comment
0,California,2014â€“2016,Total population,All ages,1181.0,9.6,NaN
1,Alameda,2014â€“2016,Total population,All ages,58.0,11.2,NaN
2,Alpine,2014â€“2016,Total population,All ages,0.0,0.0,NaN
3,Amador,2014â€“2016,Total population,All ages,0.0,0.0,NaN
4,Butte,2014â€“2016,Total population,All ages,7.0,NaN,Rate not available due to statistical instability
...,...,...,...,...,...,...,...
349,Tulare,2017â€“2019,Child vs. adult,18+ years,16.0,15.5,NaN
350,Tuolumne,2017â€“2019,Child vs. adult,18+ years,NaN,NaN,Count and rate suppressed in accordance with d...
351,Ventura,2017â€“2019,Child vs. adult,18+ years,17.0,7.7,NaN
352,Yolo,2017â€“2019,Child vs. adult,18+ years,NaN,NaN,Count and rate suppressed in accordance with d...
353,Yuba,2017â€“2019,Child vs. adult,18+ years,NaN,NaN,Count and rate suppressed in accordance with d...

In [50]:
asthma_2
#looks like asthma 1 and 2 dfs are the same

,county,years,strata,age_group,number_of_deaths,age_adjusted_mortality_rate,comment
0,California,2014â€“2016,Total population,All ages,1181.0,9.6,NaN
1,Alameda,2014â€“2016,Total population,All ages,58.0,11.2,NaN
2,Alpine,2014â€“2016,Total population,All ages,0.0,0.0,NaN
3,Amador,2014â€“2016,Total population,All ages,0.0,0.0,NaN
4,Butte,2014â€“2016,Total population,All ages,7.0,NaN,Rate not available due to statistical instability
...,...,...,...,...,...,...,...
349,Tulare,2017â€“2019,Child vs. adult,18+ years,16.0,15.5,NaN
350,Tuolumne,2017â€“2019,Child vs. adult,18+ years,NaN,NaN,Count and rate suppressed in accordance with d...
351,Ventura,2017â€“2019,Child vs. adult,18+ years,17.0,7.7,NaN
352,Yolo,2017â€“2019,Child vs. adult,18+ years,NaN,NaN,Count and rate suppressed in accordance with d...
353,Yuba,2017â€“2019,Child vs. adult,18+ years,NaN,NaN,Count and rate suppressed in accordance with d...

In [51]:
asthma_3

,field_title,field_name,data_type,description
0,County,COUNTY,Plain text,County of residence
1,Years,YEARS,Plain text,3-year period during which data were collected
2,Strata,STRATA,Plain text,General demographic category under which respo...
3,Age group,AGE GROUP,Plain text,"All ages, 0-17 years, 18+ years"
4,Number of deaths,NUMBER OF DEATHS,Numeric,Number of deaths due to asthma (source: Vital ...
5,Age-adjusted mortality rate,AGE-ADJUSTED MORTALITY RATE,Numeric,Calculated by dividing the number of asthma de...
6,Comment,COMMENT,Plain text,Information on data suppression. Counts less t...

In [52]:
asthma_1['county'].value_counts() #check years column

county
California         6
Santa Cruz         6
Plumas             6
Riverside          6
Sacramento         6
San Benito         6
San Bernardino     6
San Diego          6
San Francisco      6
San Joaquin        6
San Luis Obispo    6
San Mateo          6
Santa Barbara      6
Santa Clara        6
Shasta             6
Orange             6
Sierra             6
Siskiyou           6
Solano             6
Sonoma             6
Stanislaus         6
Sutter             6
Tehama             6
Trinity            6
Tulare             6
Tuolumne           6
Ventura            6
Yolo               6
Placer             6
Nevada             6
Alameda            6
Inyo               6
Alpine             6
Amador             6
Butte              6
Calaveras          6
Colusa             6
Contra Costa       6
Del Norte          6
El Dorado          6
Fresno             6
Glenn              6
Humboldt           6
Imperial           6
Kern               6
Napa               6
Kings              6
Lake               6
Lassen             6
Los Angeles        6
Madera             6
Marin              6
Mariposa           6
Mendocino          6
Merced             6
Modoc              6
Mono               6
Monterey           6
Yuba               6
Name: count, dtype: int64

In [53]:
asthma_1['years'].value_counts() # two year groups. need to check out why there are 3 countie values

years
2014â€“2016    177
2017â€“2019    177
Name: count, dtype: int64

In [54]:
asthma_1.loc[asthma_1['county'] == 'Orange']

,county,years,strata,age_group,number_of_deaths,age_adjusted_mortality_rate,comment
30,Orange,2014â€“2016,Total population,All ages,55.0,5.5,NaN
89,Orange,2014â€“2016,Child vs. adult,0â€“17 years,NaN,NaN,Count and rate suppressed in accordance with d...
148,Orange,2014â€“2016,Child vs. adult,18+ years,53.0,7.2,NaN
207,Orange,2017â€“2019,Total population,All ages,82.0,7.4,NaN
266,Orange,2017â€“2019,Child vs. adult,0â€“17 years,NaN,NaN,Count and rate suppressed in accordance with d...
325,Orange,2017â€“2019,Child vs. adult,18+ years,79.0,9.5,NaN

Going to drop years 2017-2019 and the drop stratas that arent total pop

In [55]:
asthma_1.drop(asthma_1.loc[asthma_1['years'] == '2017â€“2019'].index, inplace = True)

In [56]:
asthma_1.drop(asthma_1.loc[asthma_1['strata'] != 'Total population'].index, inplace = True)

In [57]:
#dropping alpine county
asthma_1.drop(asthma_1.loc[asthma_1['county'] == 'Alpine'].index, inplace=True)

In [58]:
#dropping california county
asthma_1.drop(asthma_1.loc[asthma_1['county'] == 'California'].index, inplace=True)

In [59]:
asthma_1
#need to get rid of years, strata, age_group columns and change the comment column to 0 and 1 for if it surpressed or not

,county,years,strata,age_group,number_of_deaths,age_adjusted_mortality_rate,comment
1,Alameda,2014â€“2016,Total population,All ages,58.0,11.2,NaN
3,Amador,2014â€“2016,Total population,All ages,0.0,0.0,NaN
4,Butte,2014â€“2016,Total population,All ages,7.0,NaN,Rate not available due to statistical instability
5,Calaveras,2014â€“2016,Total population,All ages,NaN,NaN,Count and rate suppressed in accordance with d...
6,Colusa,2014â€“2016,Total population,All ages,NaN,NaN,Count and rate suppressed in accordance with d...
7,Contra Costa,2014â€“2016,Total population,All ages,40.0,10.6,NaN
8,Del Norte,2014â€“2016,Total population,All ages,NaN,NaN,Count and rate suppressed in accordance with d...
9,El Dorado,2014â€“2016,Total population,All ages,7.0,NaN,Rate not available due to statistical instability
10,Fresno,2014â€“2016,Total population,All ages,39.0,14.5,NaN
11,Glenn,2014â€“2016,Total population,All ages,NaN,NaN,Count and rate suppressed in accordance with d...
12,Humboldt,2014â€“2016,Total population,All ages,10.0,NaN,Rate not available due to statistical instability
13,Imperial,2014â€“2016,Total population,All ages,NaN,NaN,Count and rate suppressed in accordance with d...
14,Inyo,2014â€“2016,Total population,All ages,0.0,0.0,NaN
15,Kern,2014â€“2016,Total population,All ages,22.0,9.3,NaN
16,Kings,2014â€“2016,Total population,All ages,6.0,NaN,Rate not available due to statistical instability
17,Lake,2014â€“2016,Total population,All ages,NaN,NaN,Count and rate suppressed in accordance with d...
18,Lassen,2014â€“2016,Total population,All ages,0.0,0.0,NaN
19,Los Angeles,2014â€“2016,Total population,All ages,305.0,9.8,NaN
20,Madera,2014â€“2016,Total population,All ages,6.0,NaN,Rate not available due to statistical instability
21,Marin,2014â€“2016,Total population,All ages,NaN,NaN,Count and rate suppressed in accordance with d...
22,Mariposa,2014â€“2016,Total population,All ages,0.0,0.0,NaN
23,Mendocino,2014â€“2016,Total population,All ages,NaN,NaN,Count and rate suppressed in accordance with d...
24,Merced,2014â€“2016,Total population,All ages,16.0,21.6,NaN
25,Modoc,2014â€“2016,Total population,All ages,NaN,NaN,Count and rate suppressed in accordance with d...
26,Mono,2014â€“2016,Total population,All ages,NaN,NaN,Count and rate suppressed in accordance with d...
27,Monterey,2014â€“2016,Total population,All ages,19.0,14.2,NaN
28,Napa,2014â€“2016,Total population,All ages,NaN,NaN,Count and rate suppressed in accordance with d...
29,Nevada,2014â€“2016,Total population,All ages,NaN,NaN,Count and rate suppressed in accordance with d...
30,Orange,2014â€“2016,Total population,All ages,55.0,5.5,NaN
31,Placer,2014â€“2016,Total population,All ages,11.0,NaN,Rate not available due to statistical instability
32,Plumas,2014â€“2016,Total population,All ages,NaN,NaN,Count and rate suppressed in accordance with d...
33,Riverside,2014â€“2016,Total population,All ages,61.0,8.5,NaN
34,Sacramento,2014â€“2016,Total population,All ages,66.0,14.1,NaN
35,San Benito,2014â€“2016,Total population,All ages,NaN,NaN,Count and rate suppressed in accordance with d...
36,San Bernardino,2014â€“2016,Total population,All ages,73.0,12.5,NaN
37,San Diego,2014â€“2016,Total population,All ages,69.0,6.5,NaN
38,San Francisco,2014â€“2016,Total population,All ages,23.0,6.8,NaN
39,San Joaquin,2014â€“2016,Total population,All ages,31.0,15.4,NaN
40,San Luis Obispo,2014â€“2016,Total population,All ages,6.0,NaN,Rate not available due to statistical instability
41,San Mateo,2014â€“2016,Total population,All ages,33.0,11.2,NaN
42,Santa Barbara,2014â€“2016,Total population,All ages,6.0,NaN,Rate not available due to statistical instability
43,Santa Clara,2014â€“2016,Total population,All ages,67.0,11.1,NaN
44,Santa Cruz,2014â€“2016,Total population,All ages,NaN,NaN,Count and rate suppressed in accordance with d...
45,Shasta,2014â€“2016,Total population,All ages,6.0,NaN,Rate not available due to statistical instability
46,Sierra,2014â€“2016,Total population,All ages,0.0,0.0,NaN
47,Siskiyou,2014â€“2016,Total population,All ages,NaN,NaN,Count and rate suppressed in accordance with d...
48,Solano,2014â€“2016,Total population,All ages,20.0,14.4,NaN
49,Sonoma,2014â€“2016,Total population,All ages,12.0,5.9,NaN
50,Stanislaus,2014â€“2016,Total population,All ages,20.0,13.0,NaN
51,Sutter,2014â€“2016,Total population,All ages,6.0,NaN,Rate not available due to statistical instability
52,Tehama,2014â€“2016,Total population,All ages,0.0,0.0,NaN
53,Trinity,2014â€“2016,Total population,All ages,0.0,0.0,NaN
54,Tulare,2014â€“2016,Total population,All ages,15.0,12.0,NaN
55,Tuolumne,2014â€“2016,Total population,All ages,6.0,NaN,Rate not available due to statistical instability
56,Ventura,2014â€“2016,Total population,All ages,24.0,8.7,NaN
57,Yolo,2014â€“2016,Total population,All ages,NaN,NaN,Count and rate suppressed in accordance with d...
58,Yuba,2014â€“2016,Total population,All ages,NaN,NaN,Count and rate suppressed in accordance with d...

In [60]:
asthma_1.drop(columns = ['years', 'strata', 'age_group'], inplace = True)

In [61]:
# recode the comment column to be 0 if not surpressed and 1 if surpressed
asthma_1['comment'].fillna(0, inplace=True)

In [62]:
asthma_1['comment'] = [int(0) if x == 0 else int(1) for x in asthma_1['comment'].tolist()]

In [63]:
asthma_1.rename(columns = {'number_of_deaths': 'asthma_number_of_deaths',
                           'age_adjusted_mortality_rate': 'asthma_age_adjusted_mortality_rate',
                           'comment': 'asthma_surpressed'}, inplace=True)

In [64]:
asthma_3 = asthma_3.loc[4:]

In [65]:
asthma_1.to_csv('./dfs/asthma_death.csv', index=False)
asthma_3.to_csv('./data_dictionaries/asthma_death.csv', index=False)

# Death Profiles

In [66]:
death_profile_1 = pd.read_csv('../../../../../Downloads/chhs-cac6d0b5-93d0-4f62-9f05-b3eebb63431f/data/death_profiles_by_leading_causes_of_death_3.csv')

In [67]:
death_profile_2 = pd.read_csv('../../../../../Downloads/chhs-cac6d0b5-93d0-4f62-9f05-b3eebb63431f/data/death_profiles_by_leading_causes_of_death_4.csv')

In [68]:
death_profile_3 = pd.read_csv('../../../../../Downloads/chhs-cac6d0b5-93d0-4f62-9f05-b3eebb63431f/data/death_profiles_by_leading_causes_of_death_5.csv')

In [69]:
death_profile_4 = pd.read_csv('../../../../../Downloads/chhs-cac6d0b5-93d0-4f62-9f05-b3eebb63431f/data/lcod_dictionary.csv')

In [70]:
death_profile_1

        year  zip_code causes_of_death count
0       2009     90001             ALZ   <11
1       2009     90001             CAN    46
2       2009     90001             CLD   <11
3       2009     90001             DIA    15
4       2009     90001             HOM   <11
...      ...       ...             ...   ...
226795  2018     99999             NEP    20
226796  2018     99999             OTH   266
226797  2018     99999             PNF    44
226798  2018     99999             STK    85
226799  2018     99999             SUI    65

[226800 rows x 4 columns]

In [71]:
death_profile_2

        year  zip_code causes_of_death count
0       1989     90001             ALZ     0
1       1989     90001             CAN    61
2       1989     90001             CLD    12
3       1989     90001             DIA   <11
4       1989     90001             HOM    37
...      ...       ...             ...   ...
226795  1998     99999             NEP    20
226796  1998     99999             OTH   626
226797  1998     99999             PNF   236
226798  1998     99999             STK   210
226799  1998     99999             SUI    83

[226800 rows x 4 columns]

In [72]:
death_profile_3

        year  zip_code causes_of_death count
0       1999     90001             ALZ   <11
1       1999     90001             CAN    53
2       1999     90001             CLD    16
3       1999     90001             DIA    16
4       1999     90001             HOM    11
...      ...       ...             ...   ...
226795  2008     99999             NEP    26
226796  2008     99999             OTH   692
226797  2008     99999             PNF    65
226798  2008     99999             STK   161
226799  2008     99999             SUI    79

[226800 rows x 4 columns]

In [73]:
death_profile_4

       column_name   format                                          definiton
0             Year   String                                     Year of death
1         ZIP Code   String  California ZIP Codes. ZIP Codes with less than...
2  Causes of Death   String  Cause-of-death between 1999 to present were co...
3            Count  Numeric  Number of deaths per cause of death. Counts th...

In [74]:
#looks like death_profile_1 is the df we want because of the dates

In [75]:
death_profile_1['year'].value_counts()

year
2009    22680
2010    22680
2011    22680
2012    22680
2013    22680
2014    22680
2015    22680
2016    22680
2017    22680
2018    22680
Name: count, dtype: int64

In [76]:
death_profile_1 = death_profile_1.loc[death_profile_1['year'] == 2015]

In [77]:
death_profile_1

        year  zip_code causes_of_death count
136080  2015     90001             ALZ   <11
136081  2015     90001             CAN    52
136082  2015     90001             CLD   <11
136083  2015     90001             DIA    16
136084  2015     90001             HOM   <11
...      ...       ...             ...   ...
158755  2015     99999             NEP    19
158756  2015     99999             OTH   298
158757  2015     99999             PNF    40
158758  2015     99999             STK    68
158759  2015     99999             SUI    43

[22680 rows x 4 columns]

In [78]:
#not using death profile as its by zip code not county
# death_profile_1.to_csv('./dfs/death_profile.csv')
# death_profile_4.to_csv('./data_dictionaries/death_profile.csv')

# infant mortality

In [79]:
infant_mortality_1 = pd.read_csv('../../../../../Downloads/chhs-a10630c1-536b-4f36-97ef-5ce831fc279d/data/infant_mortality_deaths_per_1_000_live_births_lghc_indicator_1.csv')

In [80]:
infant_mortality_2 = pd.read_csv('../../../../../Downloads/chhs-a10630c1-536b-4f36-97ef-5ce831fc279d/data/infant_mortality_deaths_per_1000_live_births_lghc_indicator_01.csv')

In [81]:
infant_mortality_1

,lghc_indicator_name,geography,year,strata,strata_name,rate,lower_95_ci,upper_95_ci
0,"Infant Mortality, Deaths per 1,000 Live Births",California,2009-2011,Total population,Total population,4.9,4.8,5.0
1,"Infant Mortality, Deaths per 1,000 Live Births",Alameda,2009-2011,Total population,Total population,4.5,4.0,5.1
2,"Infant Mortality, Deaths per 1,000 Live Births",Alpine,2009-2011,Total population,Total population,NaN,NaN,NaN
3,"Infant Mortality, Deaths per 1,000 Live Births",Amador,2009-2011,Total population,Total population,NaN,NaN,NaN
4,"Infant Mortality, Deaths per 1,000 Live Births",Butte,2009-2011,Total population,Total population,4.9,3.6,6.8
...,...,...,...,...,...,...,...,...
9073,"Infant Mortality, Deaths per 1,000 Live Births",Ventura,2014-2016,Sex,Female,3.1,2.4,4.2
9074,"Infant Mortality, Deaths per 1,000 Live Births",Yolo,2014-2016,Sex,Male,4.1,2.5,6.7
9075,"Infant Mortality, Deaths per 1,000 Live Births",Yolo,2014-2016,Sex,Female,5.4,3.5,8.4
9076,"Infant Mortality, Deaths per 1,000 Live Births",Yuba,2014-2016,Sex,Male,9.3,5.8,14.8
9077,"Infant Mortality, Deaths per 1,000 Live Births",Yuba,2014-2016,Sex,Female,5.7,3.1,10.5

In [82]:
infant_mortality_2 #looks the same as the first df

,lghc_indicator_name,geography,year,strata,strata_name,rate,lower_95_ci,upper_95_ci
0,"Infant Mortality, Deaths per 1,000 Live Births",California,2009-2011,Total population,Total population,4.9,4.8,5.0
1,"Infant Mortality, Deaths per 1,000 Live Births",Alameda,2009-2011,Total population,Total population,4.5,4.0,5.1
2,"Infant Mortality, Deaths per 1,000 Live Births",Alpine,2009-2011,Total population,Total population,NaN,NaN,NaN
3,"Infant Mortality, Deaths per 1,000 Live Births",Amador,2009-2011,Total population,Total population,NaN,NaN,NaN
4,"Infant Mortality, Deaths per 1,000 Live Births",Butte,2009-2011,Total population,Total population,4.9,3.6,6.8
...,...,...,...,...,...,...,...,...
9073,"Infant Mortality, Deaths per 1,000 Live Births",Ventura,2014-2016,Sex,Female,3.1,2.4,4.2
9074,"Infant Mortality, Deaths per 1,000 Live Births",Yolo,2014-2016,Sex,Male,4.1,2.5,6.7
9075,"Infant Mortality, Deaths per 1,000 Live Births",Yolo,2014-2016,Sex,Female,5.4,3.5,8.4
9076,"Infant Mortality, Deaths per 1,000 Live Births",Yuba,2014-2016,Sex,Male,9.3,5.8,14.8
9077,"Infant Mortality, Deaths per 1,000 Live Births",Yuba,2014-2016,Sex,Female,5.7,3.1,10.5

In [83]:
infant_mortality_1 = infant_mortality_1.loc[infant_mortality_1['year'] == '2014-2016']

In [84]:
infant_mortality_1 = infant_mortality_1.drop(infant_mortality_1.loc[infant_mortality_1['geography'] == 'Alpine'].index)

In [85]:
#getting rid of the us and california rows
infant_mortality_1 = infant_mortality_1.iloc[2:]

In [86]:
#getting only the total population strata
infant_mortality_1 = infant_mortality_1.iloc[:57]

In [87]:
infant_mortality_1.drop(columns = ['lghc_indicator_name', 'year', 'strata', 'strata_name'], inplace = True)

In [88]:
infant_mortality_1.rename(columns = {'geography': 'county',
                           'rate': 'infant_mortality_rate',
                           'lower_95_ci': 'infant_mortality_lower',
                            'upper_95_ci': 'infant_mortality_upper'}, inplace=True)

In [89]:
infant_mortality_1.to_csv('./dfs/infant_mortality.csv', index=False)

# STD

In [90]:
std_1 = pd.read_csv('../../../../../Downloads/chhs-4de76cd0-0ac9-4260-8ac3-0637acb444fb/data/stds_by_disease_county_year_and_sex.csv')

In [91]:
std_2 = pd.read_csv('../../../../../Downloads/chhs-4de76cd0-0ac9-4260-8ac3-0637acb444fb/data/stds_in_california_by_disease_county_year_and_sex_3.csv')

In [92]:
std_3 = pd.read_csv('../../../../../Downloads/chhs-4de76cd0-0ac9-4260-8ac3-0637acb444fb/data/data_dictionary.csv')

In [93]:
std_1.loc[std_1['year'] == 2015]

,disease,county,year,sex,cases,population,rate,lower_95_ci,upper_95_ci,annotation_code
42,Chlamydia,California,2015,Female,121749.0,19634752,620.1,616.6,623.6,NaN
43,Chlamydia,California,2015,Male,67694.0,19441376,348.2,345.6,350.8,NaN
44,Chlamydia,California,2015,Total,189747.0,39076128,485.6,483.4,487.8,NaN
96,Chlamydia,Alameda,2015,Female,4924.0,825325,596.6,580.1,613.5,NaN
97,Chlamydia,Alameda,2015,Male,3133.0,796390,393.4,379.8,407.4,NaN
...,...,...,...,...,...,...,...,...,...,...
9493,Gonorrhea,Yolo,2015,Male,109.0,103875,104.9,86.2,126.6,NaN
9494,Gonorrhea,Yolo,2015,Total,189.0,213016,88.7,76.5,102.3,NaN
9546,Gonorrhea,Yuba,2015,Female,41.0,36971,110.9,79.6,150.4,NaN
9547,Gonorrhea,Yuba,2015,Male,40.0,37558,106.5,76.1,145.0,NaN
9548,Gonorrhea,Yuba,2015,Total,81.0,74529,108.7,86.3,135.1,NaN

In [94]:
std_2.loc[std_2['year'] == 2015] #this seems like the updated csv so will be using this one

,disease,county,year,sex,cases,population,rate,lower_95_ci,upper_95_ci,annotation_code
42,Chlamydia,California,2015,Female,121795.0,19626358,620.6,617.1,624.1,NaN
43,Chlamydia,California,2015,Male,67722.0,19433064,348.5,345.9,351.1,NaN
44,Chlamydia,California,2015,Total,189822.0,39059422,486.0,483.8,488.2,NaN
93,Chlamydia,Alameda,2015,Female,4924.0,824964,596.9,580.4,613.7,NaN
94,Chlamydia,Alameda,2015,Male,3138.0,796041,394.2,380.6,408.2,NaN
...,...,...,...,...,...,...,...,...,...,...
8968,Gonorrhea,Yolo,2015,Male,109.0,103794,105.0,86.2,126.7,NaN
8969,Gonorrhea,Yolo,2015,Total,189.0,212850,88.8,76.6,102.4,NaN
9018,Gonorrhea,Yuba,2015,Female,41.0,37492,109.4,78.5,148.3,NaN
9019,Gonorrhea,Yuba,2015,Male,40.0,38087,105.0,75.0,143.0,NaN
9020,Gonorrhea,Yuba,2015,Total,81.0,75579,107.2,85.1,133.2,NaN

In [95]:
#getting only 2015 year
std_2 = std_2.loc[std_2['year'] == 2015]

In [96]:
#getting onlly counties
std_2 = std_2.iloc[3:]

In [97]:
#getting only the total men and women combined data
std_2 = std_2.loc[std_2['sex'] == 'Total']

In [98]:
std_2.loc[std_2['county'] == 'Alpine']

,disease,county,year,sex,cases,population,rate,lower_95_ci,upper_95_ci,annotation_code
146,Chlamydia,Alpine,2015,Total,1.0,1157,86.4,2.2,480.6,*
3155,Early Syphilis,Alpine,2015,Total,0.0,1157,0.0,0.0,318.3,#
6164,Gonorrhea,Alpine,2015,Total,0.0,1157,0.0,0.0,318.3,#

In [99]:
std_2.drop(std_2.loc[std_2['county'] == 'Alpine'].index, inplace = True)

In [100]:
#drop year and sex
std_2.drop(columns = ['year', 'sex'], inplace = True)

In [101]:
#convert the annotation code column
std_2['annotation_code'].fillna(0, inplace=True)

In [102]:
std_2['annotation_code'].value_counts()

annotation_code
0    137
*     26
#     10
Name: count, dtype: int64

In [103]:
#the # is really zero per the data dictionary so will change it
std_2['annotation_code'] = std_2['annotation_code'].map(lambda x: 0 if x == '#' else x)

In [104]:
std_2['annotation_code'].value_counts()

annotation_code
0    147
*     26
Name: count, dtype: int64

In [105]:
#change the * to 1 and change the name of the column to unstable_rate
std_2['annotation_code'] = std_2['annotation_code'].map(lambda x: 1 if x == '*' else x)

In [106]:
std_2.isnull().sum()

disease            0
county             0
cases              0
population         0
rate               0
lower_95_ci        0
upper_95_ci        0
annotation_code    0
dtype: int64

In [107]:
std_2

,disease,county,cases,population,rate,lower_95_ci,upper_95_ci,annotation_code
95,Chlamydia,Alameda,8068.0,1621005,497.7,486.9,508.7,0
197,Chlamydia,Amador,66.0,37313,176.9,136.8,225.0,0
248,Chlamydia,Butte,1131.0,224180,504.5,475.6,534.7,0
299,Chlamydia,Calaveras,62.0,44899,138.1,105.9,177.0,0
350,Chlamydia,Colusa,60.0,22271,269.4,205.6,346.6,0
...,...,...,...,...,...,...,...,...
8816,Gonorrhea,Tulare,671.0,464337,144.5,133.8,155.9,0
8867,Gonorrhea,Tuolumne,34.0,54529,62.4,43.2,87.1,0
8918,Gonorrhea,Ventura,621.0,852199,72.9,67.3,78.8,0
8969,Gonorrhea,Yolo,189.0,212850,88.8,76.6,102.4,0
9020,Gonorrhea,Yuba,81.0,75579,107.2,85.1,133.2,0

In [108]:
# change cases to int
std_2.dtypes

disease             object
county              object
cases              float64
population           int64
rate               float64
lower_95_ci        float64
upper_95_ci        float64
annotation_code      int64
dtype: object

In [109]:
std_2['cases'] = std_2['cases'].astype(int)

In [110]:
std_chlamydia = std_2.loc[std_2['disease'] == 'Chlamydia']

In [111]:
std_syphilis = std_2.loc[std_2['disease'] == 'Early Syphilis']

In [112]:
std_gonorrhea = std_2.loc[std_2['disease'] == 'Gonorrhea']

In [113]:
std_chlamydia.drop(columns = 'disease', inplace=True)

/var/folders/ss/wsd08gpd0hs8m3d7tg_wd4d40000gn/T/ipykernel_35287/4238538903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  std_chlamydia.drop(columns = 'disease', inplace=True)

In [114]:
std_gonorrhea.drop(columns = 'disease', inplace=True)

/var/folders/ss/wsd08gpd0hs8m3d7tg_wd4d40000gn/T/ipykernel_35287/2865329014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  std_gonorrhea.drop(columns = 'disease', inplace=True)

In [115]:
std_syphilis.drop(columns = 'disease', inplace=True)

/var/folders/ss/wsd08gpd0hs8m3d7tg_wd4d40000gn/T/ipykernel_35287/2579077771.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  std_syphilis.drop(columns = 'disease', inplace=True)

In [116]:
# getting rid of california county
std_syphilis = std_syphilis[1:]

In [117]:
# getting rid of california county
std_gonorrhea = std_gonorrhea[1:]

In [118]:
std_syphilis.rename(columns = {'cases': 'std_syphilis_cases',
                               'population': 'std_population',
                           'rate': 'std_syphilis_rate',
                           'lower_95_ci': 'std_syphilis_lower',
                            'upper_95_ci': 'std_syphilis_upper',
                              'annotation_code': 'std_syphilis_supressed'}, inplace=True)

In [119]:
#dropping the population column in the two other datsets as its the same as syphilis
std_gonorrhea.drop(columns = 'population', inplace = True)

In [120]:
std_chlamydia.drop(columns = 'population', inplace = True)

/var/folders/ss/wsd08gpd0hs8m3d7tg_wd4d40000gn/T/ipykernel_35287/2831645850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  std_chlamydia.drop(columns = 'population', inplace = True)

In [121]:
std_gonorrhea.rename(columns = {'cases': 'std_gonorrhea_cases',
                           'rate': 'std_gonorrhea_rate',
                           'lower_95_ci': 'std_gonorrhea_lower',
                            'upper_95_ci': 'std_gonorrhea_upper',
                              'annotation_code': 'std_gonorrhea_supressed'}, inplace=True)

In [122]:
std_chlamydia.rename(columns = {'cases': 'std_chlamydia_cases',
                           'rate': 'std_chlamydia_rate',
                           'lower_95_ci': 'std_chlamydia_lower',
                            'upper_95_ci': 'std_chlamydia_upper',
                              'annotation_code': 'std_chlamydia_supressed'}, inplace=True)

/var/folders/ss/wsd08gpd0hs8m3d7tg_wd4d40000gn/T/ipykernel_35287/2067252201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  std_chlamydia.rename(columns = {'cases': 'std_chlamydia_cases',

In [123]:
std_chlamydia.to_csv('./dfs/std_chlamydia.csv', index=False)

In [124]:
std_gonorrhea.to_csv('./dfs/std_gonorrhea.csv', index=False)

In [125]:
std_syphilis.to_csv('./dfs/std_syphilis.csv', index=False)

In [126]:
std_3

,column_name,format,definition
0,Disease,Plain text,The name of the sexually transmitted disease (...
1,County,Plain text,The county in which the case resided when they...
2,Year,Number,Year is derived from the date closest to the d...
3,Sex,Plain text,The patient's biological sex at birth. Female...
4,Cases,Number,The number of occurrences of each disease that...
5,Population,Number,The estimated population size (rounded to the ...
6,Rate,Number,"The rate of disease per 100,000 population for..."
7,Lower 95% CI,Number,The lower bound of the 95% confidence interval...
8,Upper 95% CI,Number,The upper bound of the 95% confidence interval...
9,Annotation Code,Plain text,An indicator that the calculated rate is unsta...

In [127]:
x = std_3.loc[(std_3['column_name'] == 'Disease') | (std_3['column_name'] == 'Year') | (std_3['column_name'] == 'Sex')]

In [128]:
std_3.drop(x.index)

,column_name,format,definition
1,County,Plain text,The county in which the case resided when they...
4,Cases,Number,The number of occurrences of each disease that...
5,Population,Number,The estimated population size (rounded to the ...
6,Rate,Number,"The rate of disease per 100,000 population for..."
7,Lower 95% CI,Number,The lower bound of the 95% confidence interval...
8,Upper 95% CI,Number,The upper bound of the 95% confidence interval...
9,Annotation Code,Plain text,An indicator that the calculated rate is unsta...

In [129]:
std_3.to_csv('./data_dictionaries/std.csv', index=False)

# merging the dataframes

In [130]:
# reload in previous dataframes under new names for ease of merge
adolescent_birth = pd.read_csv('./dfs/adolescent_birth.csv')
asthma_death = pd.read_csv('./dfs/asthma_death.csv')
infant_mortality = pd.read_csv('./dfs/infant_mortality.csv')

In [131]:
eli_concat = pd.merge(adolescent_birth, asthma_death, left_on = 'county', right_on = 'county')
eli_concat.shape

(57, 10)

In [132]:
#need to drop the duplicate column made by accident
eli_concat.drop(columns = 'births_adolescent_birth', inplace = True)

In [133]:
eli_concat = pd.merge(eli_concat, infant_mortality, left_on = 'county', right_on = 'county')

In [134]:
eli_concat.shape

(57, 12)

In [135]:
eli_concat = pd.merge(eli_concat, std_chlamydia, left_on = 'county', right_on = 'county')
eli_concat.shape

(57, 17)

In [136]:
pd.set_option('display.max_columns', 100)
eli_concat = eli_concat.iloc[:,:17]

In [137]:
eli_concat.rename(columns = {'std_chlamydia_cases_x': 'std_chlamydia_cases',
                             'std_chlamydia_rate_x': 'std_chlamydia_rate',
                             'std_chlamydia_lower_x': 'std_chlamydia_lower',
                             'std_chlamydia_upper_x': 'std_chlamydia_upper',
                             'std_chlamydia_supressed_x': 'std_chlamydia_supressed'}, inplace = True)

In [138]:
eli_concat = pd.merge(eli_concat, std_gonorrhea, left_on = 'county', right_on = 'county')

In [139]:
eli_concat = pd.merge(eli_concat, std_syphilis, left_on = 'county', right_on = 'county')

In [143]:
eli_concat.drop(columns = ['adolescent_birth_lower', 'adolescent_birth_upper', 'infant_mortality_lower', 'infant_mortality_upper', 'std_chlamydia_lower', 'std_chlamydia_upper', 'std_gonorrhea_lower', 'std_gonorrhea_upper', 'std_syphilis_lower', 'std_syphilis_upper'], inplace = True)
eli_concat

In [145]:
eli_concat.shape

(57, 18)

In [144]:
eli_concat.to_csv('./eli_concat.csv', index=False)

# Concat Radhas two csvs with main csv

In [118]:
big_df = pd.read_csv('../../../../../Downloads/big_df.csv')

In [119]:
gini_index_2015 = pd.read_csv('../../../../../Downloads/gini_index_2015.csv')

In [120]:
gini_index_range = pd.read_csv('../../../../../Downloads/gini_index_2013_2017.csv')

In [121]:
#renaming columns to match the big_df
gini_index_2015.rename(columns = {'gini_coefficient': 'gini_coefficient_2015',
                        'suppressed' : 'gini_suppressed_2015',
                        'Combined' : 'gini_combined_2015'}, inplace = True)

In [122]:
#changing county value so it will merge
gini_index_2015.loc[13, 'county'] = 'Del Norte'

In [123]:
#stripping the extra spaces in the county column
gini_index_2015['county'] = gini_index_2015['county'].str.strip()

In [124]:
#merge
big_df = pd.merge(big_df, gini_index_2015, left_on = 'county', right_on = 'county')

In [125]:
# getting rid of the california row
gini_index_range = gini_index_range[1:]

In [126]:
gini_index_range.rename(columns = {'gini_coefficient': 'gini_coefficient_range',
                        'suppressed' : 'gini_suppressed_range'}, inplace = True)

In [127]:
#stripping the extra spaces in the county column
gini_index_range['county'] = gini_index_range['county'].str.strip()

In [1]:
#merge
big_df = pd.merge(big_df, gini_index_range, how = 'left', left_on = 'county', right_on = 'county')

NameError: name 'pd' is not defined